/* working top down following the HTML to keep doc readable*/
body {
    background-color: whitesmoke;
    text-align: center;
    position: relative;
    margin: 0;
    padding: 0;
    min-height: 100%;
    width: 100%;
}
.head-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
#head-opts-container {
    display: flex;
    justify-content: center;
    margin-left: 100px;
    margin-bottom: 5px;
    gap: 5px;
}
.content-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
}
#content-col-left {
    display: flex;
    flex-direction: column;
    min-width: fit-content;
    width: 90px;
    gap: 5px;
}
#grid-container {
    min-width: 500px;
    min-height: 500px;
    border: solid black 2px;
    display: grid;
}
footer {
    text-align: center;
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 0;
    margin-top: 130px;
}
#color-picker {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
#color-picker::-webkit-color-swatch {
    border: none;
    border-radius: 50%;
}
button {
    background-color: #333333;
    color: whitesmoke;
    height: 50px;
    width: 100px;
    border-radius: 8px;
}
.grid-children:hover {
    background-color:hsl(0, 20%, 90%);
    border: solid black thin;
}
#reset {
    background-color: silver;
    color: #333333;
}
#clear {
    background-color: grey;
    color: #333333;
}
#slider {
    width: 100px;
}
#grid-size {
    border: solid #333333 thin;
    background-color: whitesmoke;
    margin-top: -3px;
    padding: 3px;
    border-radius: 8px;
}